*{
    margin: 0px;
    padding: 0px;
    color: black;
    font-family: 'Kanit', sans-serif;
}
#body::before{
    content: "";
    position: absolute;
    background-color: black;
    background-size: cover;
    height: 100vh;
    width: 100%;
    opacity: 0.83;
    z-index: -1;
    background: radial-gradient(
        circle at center,rgb(115, 115, 224),#02aab0,#614385 100%
    );
    animation: animate 65s infinite ease-in-out;
    background-size: 400%;
}
@keyframes animate{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

#heading{
    font-size: 3.5rem;
    letter-spacing: 1.2rem;
    text-align: center;
    padding: 15px;
}

#section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    padding: 10px;
}
#card{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 500px;
    height: auto;
    justify-content: center;
    background-color: rgb(0,0,0);
    background-color: rgba(204, 204, 204, 0.4);
    transition-property: all;
    transition-duration: 0.5s;
}
#card:hover{
    width: 530px;
    border-radius: 30px;
}

.items{
    margin: 5px;
    padding: 10px;
    font-size: 1.2rem;
    letter-spacing: 2px;
}
/* individual items are designed below */

#searchbar{
    margin: 5px;
    padding: 10px;
    font-size: 1.2rem;
    letter-spacing: 2px;
    width: 80%;
    padding: 15px;
    border: 0;
    outline: 0;
    background: transparent;
}
#searchbutton{
    background: url("/images/searchicon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    height: 38px;
    width: 38px;
    margin: 5px;
    padding: 20px;
    border: 0;
    border-left: 1px solid black;
    outline: 0;
}
#searchbutton:hover{
    cursor: pointer;
}

#containergreet{
    height: 40px;
    width: auto;
    margin: 5px;
}
#greet{
    display: block;
    height: auto;
    width: 500px;
    margin: auto;
    text-align: center;
    font-size: 1.2rem;
}
#description{
    margin-top: 1px;
    padding-top: 1px;
}
#divIcon{
    margin-top: 1px;
    padding-top: 1px;
    margin-bottom: 1px;
    padding-bottom: 1px;
}
#icon{
    border: 1px solid black;
    border-radius: 5px;
}
/* making evry items display none */
#cityName{
    display: none;
}
#temperature{
    display: none;
}
#icon{
    display: none;
}
#desription{
    display: none;
}
#humidity{
    display: none;
}
#wind{
    display: none;
}